/* headerBackground */
#indexHdBg{
    width: 100%;
    background-image: url("../img/main/hdbg.png");
    background-repeat: no-repeat;
    background-size: 1042px 689px;
    background-position: top right;
}
/* topBanner */
section{
    width: 100%;
}
#topBanner{
    margin-top: 5px;
    background-image: url("../img/main/bannerBg.png");
    background-repeat: no-repeat;
    background-size: 175px 360px;
    background-position: top left;
}
.topBanner{
    width: 1200px;
    height: 500px;
}
.topBanner #topBannerChildren{
    width: 1200px;
    height: 500px;
    overflow: hidden;
}
.topBannerChild{
    z-index: 10;
}
.topBanner #topBannerButtons{
    width: 9px;
    height: 200px;
    top: 150px;
    right: 55px;
    z-index: 100;
    flex-direction: column;
}
.topBannerButton{
    width: 7px;
    height: 7px;
    margin: 4px 0;
}
/* recommend */
#recommend{
    margin: 160px 0;
}
.recommend{
    width: 1200px;
    height: 369px;  
}
.recommend .recommendChild{
    width: 176px;
    height: 369px;
}
.recommend .recommendMore{
    width: 37px;
    height: 37px;
    right: -19px;
    bottom: 39px;
    display: none;
}
.recommend .recommendMore::after{
    content:"";
	display: block;
	width: 15px;
    height: 3px;
    margin: 17px 11px;
    background-color: #ffffff;
}
.recommend .recommendMore::before{
    content:"";
	display: block;
	width: 3px;
    height: 15px;
    margin: 11px 17px;
    background-color: #ffffff;
    float: left;
}
.recommend .recommendImg{
    width: 146px;
    height: 146px;
    padding: 15px;
    overflow: hidden;
}
.recommend .recommendH3{
    width: 56px;
    height: 157px;
    padding-left: 32px;
    writing-mode: tb-rl;
    line-height: 14px;
    text-overflow:ellipsis;
    -webkit-line-clamp: 4;
    overflow:hidden;
}
.recommend .recommendH2{
    width: 33px;
    height: 157px;
    writing-mode: tb-rl;
}
.recommend .recommendH1{
    width: 23px;
    height: 157px;
    writing-mode: tb-rl;
    letter-spacing: 4px;
}
.recommend .recommendChild:hover{
    background-color: #ffe7db;
}
/* newRecommendBanner */
#newBanner{
    margin: 75px 0;
}
.newRecommend{
    width: 1200px;
    height: 610px;
}
.newBanner{
    width: 1200px;
    height: 450px;
}
.newBanner #newBannerChildren{
    width: 1200px;
    height: 450px;
    overflow: hidden;
}
.newBannerChild{
    z-index: 10;
}
.newBanner #newBannerButtons{
    width: 200px;
    height: 9px;
    bottom: 25px;
    left: 500px;
    z-index: 100;
}
.newBannerButton{
    width: 7px;
    height: 7px;
    margin: 0 4px;
}

