section{
    width: 100%;
}
/* headerBackground */
#indexHdBg{
    width: 100%;
    background-image: url("../img/main/hdbg.png");
    background-repeat: no-repeat;
    background-size: 937px 620px;
    background-position: top right;
}
/* topBanner */
#topBanner{
    margin-top: 5px;
    background-image: url("../img/main/bannerBg.png");
    background-repeat: no-repeat;
    background-size: 175px 360px;
    background-position: top left;
}
.topBanner{
    width: 1200px;
    height: 500px;
}
.topBanner #topBannerChildren{
    width: 1200px;
    height: 500px;
    overflow: hidden;
}
.topBannerChild{
    z-index: 10;
}
.topBanner #topBannerButtons{
    width: 9px;
    height: 200px;
    top: 150px;
    right: 55px;
    z-index: 100;
    flex-direction: column;
}
.topBannerButton{
    width: 7px;
    height: 7px;
    margin: 4px 0;
}
/* recommend */
#recommend{
    margin: 160px 0;
}
.recommend{
    width: 1200px;
    height: 369px;  
}
.recommend .recommendChild{
    width: 176px;
    height: 369px;
}
.recommend .recommendMore{
    width: 37px;
    height: 37px;
    right: -19px;
    bottom: 39px;
    display: none;
}
.recommend .recommendMore::after{
    content:"";
	display: block;
	width: 15px;
    height: 3px;
    margin: 17px 11px;
    background-color: #ffffff;
}
.recommend .recommendMore::before{
    content:"";
	display: block;
	width: 3px;
    height: 15px;
    margin: 11px 17px;
    background-color: #ffffff;
    float: left;
}
.recommend .recommendImg{
    width: 146px;
    height: 146px;
    padding: 15px;
    overflow: hidden;
}
.recommend .recommendH3{
    width: 56px;
    height: 157px;
    padding-left: 32px;
    writing-mode: tb-rl;
    line-height: 14px;
    text-overflow:ellipsis;
    -webkit-line-clamp: 4;
    overflow:hidden;
}
.recommend .recommendH2{
    width: 33px;
    height: 157px;
    writing-mode: tb-rl;
}
.recommend .recommendH1{
    width: 23px;
    height: 157px;
    writing-mode: tb-rl;
    letter-spacing: 4px;
}
.recommend .recommendChild:hover{
    background-color: #ffe7db;
}
/* newRecommendBanner */
#newBanner{
    margin: 75px 0;
}
.newRecommend{
    width: 1200px;
    height: 610px;
}
.newBanner{
    width: 1200px;
    height: 450px;
}
.newBanner #newBannerChildren{
    width: 1200px;
    height: 450px;
    overflow: hidden;
}
.newBannerChild{
    z-index: 10;
}
.newBanner #newBannerButtons{
    width: 200px;
    height: 9px;
    bottom: 25px;
    left: 500px;
    z-index: 100;
}
.newBannerButton{
    width: 7px;
    height: 7px;
    margin: 0 4px;
}
/* discount */
#discount{
    background-image: url("../img/main/discountBg.png");
    background-repeat: no-repeat;
    background-size: 505px 668px;
    background-position: bottom left;
}
.discount{
    width: 1200px;
    height: 2010px;
}
.discount .discountLeft{
    width: 50%;
    height: 1850px;
}
.discount .discountRight{
    width: 50%;
    height: 1850px;
}
.discount .hotImg{
    width: 1200px;
    height: 160px;
}
.discount .discountChild{
    width: 490px;
    height: 690px;
}
.discountChild .discountNum{
    z-index: 100;
}
.discountChild .discountChildImgOutside,.discountChild .discountChildImgInside{
    width: 490px;
    height: 490px;
    overflow: hidden;
}
.discountChild .discountChildImgInside{
    display: none;
    z-index: 10;
}
.discount .discountChild .discountChildContent{
    width: 490px;
    height: 128px;
    margin-top: 45px;
}
.discountChildContent p{
    height: 65px;
    line-height: 65px;
}
.discountChildContent a{
    bottom: 2px;
    right: 2px;
}
.discount #discountChildOne{
    margin-top: 125px;
    margin-left: 110px; 
}
.discount #discountChildOne .discountNum{
    top: 40px;
    left: -90px;
}
.discount #discountChildTwo{
    margin-top: 390px;
}
.discount #discountChildTwo .discountNum{
    top: -135px;
    left: 12px;
}
.discount #discountChildThree{
    margin-top: 310px;
    margin-left: 90px;
}
.discount #discountChildThree .discountNum{
    top: 90px;
    left: -140px;
}
/* hot */
#hot{
    margin: 60px 0 120px; 
}
.hot{
    width: 1600px;
    height: 375px;
    background-image: url("../img/main/hotBg.png");
    background-repeat: no-repeat;
    background-size: 1600px 375px;
}
.hot .hotrecommed{
    width: 1200px;
    height: 491px;
    top: -50px;
    left: 200px;
}
.hotrecommed .hotChild{
    width: 276px;
    height: 430px;
    padding-top: 55px;
    border: 3px solid #eeeeee;
}
.hotrecommed .hotChild:hover{
    border: 3px solid #f66796;
}
.hotChild .hotContent{
    width: 240px;
    height: 35px;
    line-height: 35px;
}
.hotChild .hotChildImg{
    width: 210px;
    height: 210px;
    margin-bottom: 10px; 
}
.hotChild .hotBuy{
    display: block;
    width: 80px;
    margin-top: 20px;
}
/* information */
#information{
    margin-bottom: 70px; 
}
.information{
    width: 1200px;   
}
.information .more{
    display: block;
    width: 96px;   
}
.information .inforTop{
    margin: 50px 0;
}
/* bottomSearch */
#bottomSearch{
    height: 200px;
    background-image: url("../img/main/bottomSearchBg.png");
    background-repeat: no-repeat;
    background-size: 446px 165px;
    background-position: bottom right;
}
.bottomSearchLine{
    width: 100%;
    height: 2px;
    margin-top: 25px;
}
.bottomSearch{
    width: 400px;
    top: -25px;
}