section{
    width: 100%;
}
/* shoppingCart */
#shoppingCart{
    margin:25px 0;
}
.shoppingCart{
    width: 1200px;
    height: auto;
}
.tableHead{
    width: 1160px;
    height: 57px;
    padding: 0 20px;
    margin-bottom: 50px;
}
.tableHead .information{
    width: 385px;
}
.selectAll{
    width: 77px;
}
.selectAll div{
    width: 18px;
    height: 18px;
}
.tableBody{
    width: 1200px;
    height: auto;
}
.tableBody .item{
    width: 1156;
    height: 172px;
    padding: 0 20px;
    border: 2px solid #e5e5e5;
    margin: 30px 0;
}
.tableBody .item .select{
    width: 18px;
    height: 18px;
}
.tableBody .item .itemImg{
    width: 140px;
    height: 140px;
    overflow: hidden;
}
.tableBody .item .itemContent{
    width: 260px;
    height: 100px;
    padding: 20px;
}
.tableBody .item .itemContent .itemIntroduce{
    height: 50px;
    margin-top: 10px;
    line-height: 25px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
}
.shoppingCart .price{
    width: 140px;
    margin: 0 10px;
}
.shoppingCart .num{
    width: 150px;
    margin: 0 10px;
}
.shoppingCart .subPrice{
    width: 140px;
    margin: 0 10px;
}
.shoppingCart .operation{
    width: 148px;
    margin: 0 10px;
}
.tableBody .operation{
    height: 90px;
    margin: 0 10px;
    flex-direction: column;
}
.tableBody .item .num .addButton,.tableBody .item .num .subButton{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #dcdcdc;
    background-color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 16px;
    color: #dcdcdc; 
}
.tableBody .item .num .addButton:hover,.tableBody .item .num .subButton:hover{
    border: 2px solid #b9b9b9;
    cursor: pointer; 
}
.tableBody .item .num .numButton{
    width: 70px;
    height: 18px;
    margin: 0 5px;
    border-radius: 9px;
    border: 2px solid #dcdcdc;
    color: #b9b9b9; 
    text-align: center;
    outline: none;
}
.tableBody .item .num .numButton:focus{
    border: 2px solid #b9b9b9;
}
.tableFoot{
    width: 1200px;
}
.tableFoot .tableFootBar{
    padding: 0 20px;
    height: 45px;
}
.tableFoot .tableFootBar p span{
    margin: 0 7px;
    font-size: 28px; 
}
.tableFoot .tableFootPay{
    margin-top: 30px; 
}