<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>首页</title>
</head>

<body>
    <div id="indexHdBg">
        <!-- 顶部 -->
        <header>
            <div class="hd _center _flaxBetween _flaxAlignCenter">
                <div>
                    <a href=""><div class="_buttonPink _fontS2 _fontThin _colorPink _fontWhite">登录</div></a>
                    <a href=""><div class="_buttonPink _fontS2 _fontThin _colorWhite _fontDarkGray">注册</div></a>
                </div>
                <div class="_relative">
                    <input type="text" class="_SearchBox">
                    <input type="image" src="../static/img/main/search.png" class="_searchImg">
                </div>
            </div>
            <div class="_colorPink">
                <div class="nav _center _colorWhite _flaxBetween _flaxAlignCenter">
                    <div class="navLeft _colorPink"></div>
                    <img src="../static/img/main/navLogo.png" alt="">
                    <div class="navRight _colorPink _fontWhite">
                        <div class="navBar _floatLeft _flaxBetween _fontS2 _fontThin _fontWhite _textCenter">
                            <a href=""><div class="navBtsSelected"><p>爱礼推荐</p><p class="_fontS4">LOVE GIFT</p></div></a>
                            <a href=""><div class="navBts"><p>马卡龙</p><p class="navBtsIn _fontS4" style="display:none;">MACAROON</p></div></a>
                            <a href=""><div class="navBts"><p>甜甜圈</p><p class="navBtsIn _fontS4" style="display:none;">DOUGHNUT</p></div></a>
                            <a href=""><div class="navBts"><p>零食糕点</p><p class="navBtsIn _fontS4" style="display:none;">PASTRY</p></div></a>
                        </div>
                        <div class="conBar _floatRight _flaxBetween _flaxAlignCenter">
                            <a href="" class="_relative">
                                <img src="../static/img/main/ShoppingCart.png" alt="" title="购物车" width="26" height="26">
                                <div class="shoppingCartNum _circle _colorRed _fontS5 _fontWhite _textCenter">0</div>
                            </a>
                            <a href=""><img src="../static/img/main/information.png" alt="" title="个人中心" width="26" height="26"></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 顶部结束 -->
        
        <!-- 顶部轮播图 -->
        <section id="topBanner">
            <div class="topBanner _center _relative">
                <div id="topBannerButtons" class="_absolute _flaxCenter">
                    <div class="topBannerButton _ringWhite _pointer"></div>
                    <div class="topBannerButton _ringWhite _pointer"></div>
                    <div class="topBannerButton _ringWhite _pointer"></div>
                    <div class="topBannerButton _ringWhite _pointer"></div>
                    <div class="topBannerButton _ringWhite _pointer"></div>
                </div>
                <div id="topBannerChildren" class="_relative">
                    <div class="topBannerChild _paved _absolute"><a href=""><img src="../static/img/images/topbanner1.jpg" alt="Top Banner" width="1200"></a></div>
                    <div class="topBannerChild _paved _absolute"><a href=""><img src="../static/img/images/topbanner2.jpg" alt="Top Banner" width="1200"></a></div>
                    <div class="topBannerChild _paved _absolute"><a href=""><img src="../static/img/images/topbanner3.jpg" alt="Top Banner" width="1200"></a></div>
                    <div class="topBannerChild _paved _absolute"><a href=""><img src="../static/img/images/topbanner4.jpg" alt="Top Banner" width="1200"></a></div>
                    <div class="topBannerChild _paved _absolute"><a href=""><img src="../static/img/images/topbanner5.jpg" alt="Top Banner" width="1200"></a></div>
                </div>               
            </div>        
        </section>
        <!-- 顶部轮播图结束 -->
    </div>

    <!-- 商品推荐 -->
    <section id="recommend">
        <div class="recommend _center _flaxAround">
            <div class="recommendChild _relative">
                <a href=""><div class="recommendMore _circle _colorPink _absolute"></div></a>
                <div class="recommendImg _flaxAlignCenter"><img src="../static/img/images/recommend1.png" alt="" width="146"></div>
                <div class="recommendH3 _floatLeft _fontS5 _fontThin _fontGray">he company provides cuthan 160 countries and regions aro users all over the wo</div>
                <div class="recommendH2 _floatLeft _fontS5 _fontThin _fontDarkGray _singleLineText">天下无敌爱吃小美女</div>
                <div class="recommendH1 _floatLeft _fontS4 _fontFat _fontBlack _singleLineText">少女系列</div>
            </div>
            <div class="recommendChild _relative">
                <a href=""><div class="recommendMore _circle _colorPink _absolute"></div></a>
                <div class="recommendImg _flaxAlignCenter"><img src="../static/img/images/recommend2.png" alt="" width="146"></div>
                <div class="recommendH3 _floatLeft _fontS5 _fontThin _fontGray">he company provides cuthan 160 countries and regions aro users all over the wo</div>
                <div class="recommendH2 _floatLeft _fontS5 _fontThin _fontDarkGray _singleLineText">天下无敌爱吃小美女</div>
                <div class="recommendH1 _floatLeft _fontS4 _fontFat _fontBlack _singleLineText">少女系列</div>
            </div>
            <div class="recommendChild _relative">
                <a href=""><div class="recommendMore _circle _colorPink _absolute"></div></a>
                <div class="recommendImg _flaxAlignCenter"><img src="../static/img/images/recommend3.png" alt="" width="146"></div>
                <div class="recommendH3 _floatLeft _fontS5 _fontThin _fontGray">he company provides cuthan 160 countries and regions aro users all over the wo</div>
                <div class="recommendH2 _floatLeft _fontS5 _fontThin _fontDarkGray _singleLineText">天下无敌爱吃小美女</div>
                <div class="recommendH1 _floatLeft _fontS4 _fontFat _fontBlack _singleLineText">少女系列</div>
            </div>
            <div class="recommendChild _relative">
                <a href=""><div class="recommendMore _circle _colorPink _absolute"></div></a>
                <div class="recommendImg _flaxAlignCenter"><img src="../static/img/images/recommend4.png" alt="" width="146"></div>
                <div class="recommendH3 _floatLeft _fontS5 _fontThin _fontGray">he company provides cuthan 160 countries and regions aro users all over the wo</div>
                <div class="recommendH2 _floatLeft _fontS5 _fontThin _fontDarkGray _singleLineText">天下无敌爱吃小美女</div>
                <div class="recommendH1 _floatLeft _fontS4 _fontFat _fontBlack _singleLineText">少女系列</div>
            </div>
        </div>
    </section>
    <!-- 商品推荐结束 -->

    <!-- 横广告 -->
    <section id="adv" class="_colorPink">
        <img src="../static/img/images/adv1.png" alt="" class="_center" height="305">
    </section>
    <!-- 横广告结束 -->

    <!-- 新品推荐轮播图 -->
    <section id="newBanner">
        <div class="newRecommend _center">
            <img src="../static/img/main/newrecommed.png" alt="" class="_center" width="340" height="160">
            <div class="newBanner _relative">
                <div id="newBannerButtons" class="_absolute _flaxCenter">
                    <div class="newBannerButton _ringPink _pointer"></div>
                    <div class="newBannerButton _ringPink _pointer"></div>
                    <div class="newBannerButton _ringPink _pointer"></div>
                    <div class="newBannerButton _ringPink _pointer"></div>
                </div>
                <div id="newBannerChildren" class="_relative">
                    <div class="newBannerChild _paved _absolute"><a href=""><img src="../static/img/images/newbanner1.jpg" alt="New Banner" width="1200"></a></div>
                    <div class="newBannerChild _paved _absolute"><a href=""><img src="../static/img/images/newbanner2.jpg" alt="New Banner" width="1200"></a></div>
                    <div class="newBannerChild _paved _absolute"><a href=""><img src="../static/img/images/newbanner3.jpg" alt="New Banner" width="1200"></a></div>
                    <div class="newBannerChild _paved _absolute"><a href=""><img src="../static/img/images/newbanner4.jpg" alt="New Banner" width="1200"></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- 新品推荐轮播图结束 -->

    <!-- 折扣商品 -->
    <section id="discount">
        <div class="discount _center">
            <div class="discountLeft _floatLeft">
                <img src="../static/img/main/discount.png" alt="">
                <div class="discountChild">
                    <div class="discountChildImg _relative">
                        <img src="../static/img/main/01.png" alt="" class="discountNum _absolute">
                        <img src="../static/img/images/discount1in.png" alt="" width="490" class="discountChildImgInside _absolute">
                        <img src="../static/img/images/discount1out.png" alt="" width="490" class="discountChildImgOutside">
                    </div>
                </div>
            </div>
            <div class="discountRight _floatRight"></div>
            <div class="hotImg _floatLeft"></div>
        </div>
    </section>
    <!-- 折扣商品结束 -->

    <!-- 热门商品 -->
    <section id="hot"></section>
    <!-- 热门商品结束 -->

    <!-- 商家信息 -->
    <section></section>
    <!-- 商家信息结束 -->

    <!-- 底部 -->
    <footer></footer>
    <!-- 底部结束 -->
</body>
<script src="../static/js/header.js"></script>
<script src="../static/js/index.js"></script>
</html>