<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/step.css">
    <link rel="stylesheet" href="../static/css/orderSuccess.css">
    <link rel="stylesheet" href="../static/css/recommed.css">
    <link rel="stylesheet" href="../static/css/bottomSearch.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>支付成功</title>
</head>
<body>
    <!-- 顶部 -->
    <header>
        <div class="hd _center _flexBetween _flexAlignCenter">
            <div>
                <a href=""><div class="_buttonPink _fontS2 _fontThin _colorPink _fontWhite">登录</div></a>
                <a href=""><div class="_buttonPink _fontS2 _fontThin _colorWhite _fontDarkGray">注册</div></a>
            </div>
            <div class="_relative">
                <input type="text" class="_SearchBox">
                <input type="image" src="../static/img/main/search.png" class="_searchImg">
            </div>
        </div>
        <div class="_colorPink">
            <div class="nav _center _colorWhite _flexBetween _flexAlignCenter">
                <div class="navLeft _colorPink"></div>
                <img src="../static/img/main/navLogo.png" alt="">
                <div class="navRight _colorPink _fontWhite">
                    <div class="navBar _floatLeft _flexBetween _fontS2 _fontThin _fontWhite _textCenter">
                        <a href=""><div class="navBtsSelected"><p>爱礼推荐</p><p class="_fontS4">LOVE GIFT</p></div></a>
                        <a href=""><div class="navBts"><p>马卡龙</p><p class="navBtsIn _fontS4" style="display:none;">MACAROON</p></div></a>
                        <a href=""><div class="navBts"><p>甜甜圈</p><p class="navBtsIn _fontS4" style="display:none;">DOUGHNUT</p></div></a>
                        <a href=""><div class="navBts"><p>零食糕点</p><p class="navBtsIn _fontS4" style="display:none;">PASTRY</p></div></a>
                    </div>
                    <div class="conBar _floatRight _flexBetween _flexAlignCenter">
                        <a href="" class="_relative">
                            <img src="../static/img/main/ShoppingCart.png" alt="" title="购物车" width="26" height="26">
                            <div class="shoppingCartNum _circle _colorRed _fontS5 _fontWhite _textCenter">0</div>
                        </a>
                        <a href=""><img src="../static/img/main/information.png" alt="" title="个人中心" width="26" height="26"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 顶部结束 -->    

    <!-- 订单进程 -->
    <section id="step">
        <div class="step _fontGray _fontThin _colorGray _center _flexCenter">
            <div class="stepChild _flexAlignCenter">
                <div class="stepButton _ringStepCompleted"></div>
                <div class="_relative">
                    <div><span class="_fontS1 _fontPink _fontMid">购物车</span>SHOPPING CAR</div>
                    <div class="stepButtonLine _absolute"></div> 
                </div>
            </div>
            <div class="stepChild _flexAlignCenter">
                <div class="stepButton _ringStepCompleted"></div>
                <div class="_relative">
                    <div><span class="_fontS1 _fontPink _fontMid">提交订单</span>SUPPORT ORDERING</div>
                    <div class="stepButtonLine _absolute"></div> 
                </div>
            </div>
            <div class="stepChild _flexAlignCenter">
                <div class="stepButton _ringStepCompleted"></div>
                <div class="_relative">
                    <div><span class="_fontS1 _fontPink _fontMid">支付方式</span>THE PAYMENT</div>
                    <div class="stepButtonLine _absolute"></div> 
                </div>
            </div>
            <div class="stepChild _flexAlignCenter">
                <div class="stepButton _ringStepCompleted"></div>
                <div class="_relative">
                    <div><span class="_fontS1 _fontPink _fontMid">订单完成</span>ORDER SUCCESS</div>
                    <div class="stepButtonLine _absolute"></div> 
                </div>
            </div>
        </div>
    </section>
    <!-- 订单进程结束 -->

    <!-- 支付成功 -->
    <section id="success">
        <div class="success _center _flexCenter _flexAlignCenter _relative">
            <div class="successBg _flexBetween _center">
                <div class="bigBubble"></div>
                <div class="smallBubble"></div>
            </div>
            <div class="successContent _flexCenter _flexAlignCenter _absolute">
                <div class="successImg _flexCenter"><img src="../static/img/main/successCake.png" alt="" height="415"></div>
                <div class="_fontS5 _fontMid _fontDarkGray">
                    <div class="_flexLeft _flexAlignCenter _fontMid _fontBlack" style="font-size:26px;">
                        <div>您的订单已经支付成功~</div>
                        <div class="_flexCenter" style="width: 60px;height: 60px;"><img src="../static/img/main/successBird.png" alt="" height="60"></div>
                        <div>~~</div>
                    </div>
                    <p>您的订单号：<span>1765696697</span></p>
                    <p>应付金额：<span class="_fontRed">3490.24</span>元</p>
                    <p>支付方式：<span>在线支付</span></p>
                    <p>请您慢慢等待哦，我会很快飞到您的怀里哦～嘻嘻～～</p>
                </div>
            </div>
        </div>
    </section>
    <!-- 支付成功结束 -->

    <!-- 跳转选择 -->
    <section id="choice">
        <div class="choice _flexCenter _center">
            <a href=""><div class="_buttonPink _fontS1 _colorPink _fontWhite">继续购物</div></a>
            <a href=""><div class="_buttonPink _fontS1 _colorWhite _fontDarkGray">查看订单</div></a>
        </div>
    </section>
    <!-- 跳转选择结束 -->

    <!-- 推荐产品 -->
    <section id="recommed">
        <div class="recommedImg _center"><img src="../static/img/main/recommendedProducts.png" alt="" width="340" height="160"></div>
        <div class="recommed _center _flexBetween">
            <div class="recommedChild _colorWhite">
                <a href=""><p class="_fontS2 _fontFat _fontDarkGray _textCenter">经典粉色之恋</p></a>
                <p class="recommedContent _center _fontS5 _fontThin _fontGray _textCenter _singleLineText">天下无敌爱吃小美女</p>
                <div class="recommedChildImg _center _flexAlignCenter"> <a href=""><img src="../static/img/images/hot1.png" alt="" width="210px"></div></a>
                <div class="_fontFat _fontPink _textCenter" style="font-size:28px">268.00<span class="_fontS5 _fontMid">RMB</span></div>
                <a href="" class="recommedBuy _center"><div class="_buttonPink _fontS4 _colorPink _fontWhite _center">BUY</div></a>
            </div>
            <div class="recommedChild _colorWhite">
                <a href=""><p class="_fontS2 _fontFat _fontDarkGray _textCenter">经典粉色之恋</p></a>
                <p class="recommedContent _center _fontS5 _fontThin _fontGray _textCenter _singleLineText">天下无敌爱吃小美女</p>
                <div class="recommedChildImg _center _flexAlignCenter"> <a href=""><img src="../static/img/images/hot2.png" alt="" width="210px"></div></a>
                <div class="_fontFat _fontPink _textCenter" style="font-size:28px">268.00<span class="_fontS5 _fontMid">RMB</span></div>
                <a href="" class="recommedBuy _center"><div class="_buttonPink _fontS4 _colorPink _fontWhite _center">BUY</div></a>
            </div>
            <div class="recommedChild _colorWhite">
                <a href=""><p class="_fontS2 _fontFat _fontDarkGray _textCenter">经典粉色之恋</p></a>
                <p class="recommedContent _center _fontS5 _fontThin _fontGray _textCenter _singleLineText">天下无敌爱吃小美女</p>
                <div class="recommedChildImg _center _flexAlignCenter"> <a href=""><img src="../static/img/images/hot3.png" alt="" width="210px"></div></a>
                <div class="_fontFat _fontPink _textCenter" style="font-size:28px">268.00<span class="_fontS5 _fontMid">RMB</span></div>
                <a href="" class="recommedBuy _center"><div class="_buttonPink _fontS4 _colorPink _fontWhite _center">BUY</div></a>
            </div>
            <div class="recommedChild _colorWhite">
                <a href=""><p class="_fontS2 _fontFat _fontDarkGray _textCenter">经典粉色之恋</p></a>
                <p class="recommedContent _center _fontS5 _fontThin _fontGray _textCenter _singleLineText">天下无敌爱吃小美女</p>
                <div class="recommedChildImg _center _flexAlignCenter"> <a href=""><img src="../static/img/images/hot4.png" alt="" width="210px"></div></a>
                <div class="_fontFat _fontPink _textCenter" style="font-size:28px">268.00<span class="_fontS5 _fontMid">RMB</span></div>
                <a href="" class="recommedBuy _center"><div class="_buttonPink _fontS4 _colorPink _fontWhite">BUY</div></a>
            </div>
        </div>       
    </section>
    <!-- 推荐产品结束 -->
    
    <!-- 底部搜索 -->
    <section id="bottomSearch">
        <div style="width:100%;height:1px;"></div> 
        <div class="bottomSearchLine _colorGray _flexCenter _relative">
            <div class="bottomSearch _colorWhite _center _absolute">
                <input type="text" class="_SearchBox">
                <input type="image" src="../static/img/main/search.png" class="_searchImg">
            </div>
        </div>
    </section>
    <!-- 底部搜索结束 -->

    <!-- 底部 -->
    <footer>
        <div class="ft _center _colorBlack _fontS4 _fontThin _fontGray _flexBetween">
            <div class="contact _flexBetween">
                <div>
                    <p>联系方式</p>
                    <p class="_fontS2 _fontFat">CONTACT</p>
                </div>
                <div>
                    <p>QQ:1234567800</p>
                    <p>QQ:1234567800</p>    
                </div>
                <div>
                    <p class="_fontS3 _fontFat">400-987-099</p>
                </div>
            </div>
            <div class="problem _flexBetween">
                <div>
                    <p>常见问题</p>
                    <p class="_fontS2 _fontFat">PROBLEM</p>
                </div>
                <div class="_fontS5 _fontMid _fontDarkGray">
                    <a href=""><li>购物问题</li></a>
                    <a href=""><li>物流问题</li></a>
                    <a href=""><li>支付问题</li></a>
                    <a href=""><li>售后问题</li></a>
                    <a href=""><li>其他问题</li></a>
                </div>
            </div>
            <div class="navigation _flexBetween">
                <div>
                    <p>网站导航</p>
                    <p class="_fontS2 _fontFat">NAVIGATION</p>
                </div>
                <div class="_fontS5 _fontMid _fontDarkGray">
                    <a href=""><li>热门精选</li></a>
                    <a href=""><li>折扣专区</li></a>
                    <a href=""><li>会员专区</li></a>
                    <a href=""><li>本周精选</li></a>
                    <a href=""><li>全部商品</li></a>
                </div>
            </div>
            <div class="service">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </footer>
    <!-- 底部结束 -->     
</body>
<script src="../static/js/header.js"></script>
<script src="../static/js/orderSuccess.js"></script>
</html>